@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");

* {
  font-family: "Baloo Thambi 2", cursive;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
